@tailwind base;
@tailwind components;
@tailwind utilities;

#top-section {
    border-radius: 20px;
    transition: 1s ease;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-hidden {
    opacity: 0%
}

.profile-button {
    @apply inline-flex px-2 py-1 h-min mx-2;
}

.profile-button svg {
    @apply drop-shadow-2xl;
    transition: fill 0.5s;
}

.profile-button svg {
    @apply fill-white w-8 h-8;
}

.profile-picture {
    @apply drop-shadow-2xl;
    border-radius: 50%;
}

#discord-profile svg {
    @apply fill-blurple;
}

#discord-profile:hover svg {
    @apply fill-old-blurple;
}

#reddit-profile svg {
    @apply fill-orangered;
}

#reddit-profile:hover svg {
    @apply fill-orangered-alt;
}

#github-profile svg {
    @apply fill-github-gray;
}

#github-profile:hover svg {
    @apply fill-github-gray-alt;
}

#source-code svg {
    @apply fill-gray-800;
}

#source-code:hover svg {
    @apply fill-gray-500;
}

#arrow {
    transition: 1s ease;
}

#arrow:hover {
    transform: translateY(30px);
}

/*
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.header {
    padding: 1px 10px;
    border-radius: 10px;
    text-align: left;
    
    background: #1abc9c;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.footer {
    padding: 1px 10px;
    border-radius: 10px;
    text-align: center;
    
    background: slategrey;
    color: white;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    color: white;
}

.button {
    float: left;
    display: inline;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#button-landing {
    float: none;
    margin: 20px;

    color: white;
    background-color: black;
}

#button-regular {
    float: none;
    margin: 40px;

    color: white;
    background-color: black;
}

#button-regular:hover {
    background-color: #ddd;
    color: black;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

* {
    box-sizing: border-box;
}

.main {
    flex: 100%;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.section {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    display: block;
    flex-direction: column;

    background-color: slategrey;
    color: white;
}

.section a {
    text-decoration: none;
    color: blue;
}

.section-buttons {
    display: inline-flex;
}

.section-buttons #button-regular {
    margin-top: 0px;
    margin-bottom: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    margin-bottom: 125px;
}

#landing {
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;

    background-color: #1abc9c;
}

#landing h2 {
    margin: 5px 0px;
}

#landing p {
    margin: 5px 0px;
}

#landing-background {
    background-color: #1abc9c;
}

#pfp {
    border-radius: 50%;
    align-self: center;
    margin: 10px;
}

#discord-server {
    padding: 10px;
    text-decoration: none;
}

#reddit-profile {
    padding: 10px;
    text-decoration: none;
}

#github {
    padding: 10px;
    text-decoration: none;
}

#platforms {
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
        justify-content: stretch;
    }

    .column {
        margin-top: 250px;
        margin-bottom: 250px;
    }
}

@media screen and (max-width: 420px) {
    .navbar {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
*/

@media screen and (max-width: 490px) {
    #platforms {
        justify-content: stretch;
    }
}
