@tailwind base;
@tailwind components;
@tailwind utilities;

#top-section {
    border-radius: 20px;
    transition: 1s ease;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-hidden {
    opacity: 0%
}

.profile-button {
    @apply inline-flex px-2 py-1 h-min mx-2;
}

.profile-button svg {
    @apply drop-shadow-2xl fill-white w-8 h-8;
    transition: fill 0.5s;
}

.profile-picture {
    @apply drop-shadow-2xl;
    border-radius: 50%;
}

#discord-profile svg {
    @apply fill-blurple;
}

#discord-profile:hover svg {
    @apply fill-old-blurple;
}

#reddit-profile svg {
    @apply fill-orangered;
}

#reddit-profile:hover svg {
    @apply fill-orangered-alt;
}

#github-profile svg {
    @apply fill-github-gray;
}

#github-profile:hover svg {
    @apply fill-github-gray-alt;
}

#source-code svg {
    @apply fill-gray-800;
}

#source-code:hover svg {
    @apply fill-gray-500;
}

.section {
    @apply bg-gray-600 px-14 py-10 m-10;
    border-radius: 20px;
    transition: 1s ease;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
}

.section h1 {
    @apply text-white text-2xl m-3;
}

.section p {
    @apply text-white;
}

.section li {
    @apply text-white;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
